@model IEnumerable<Timeclock.Models.CompanyModel>

@{
    ViewBag.Title = "Your Company";
}

<div id="page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">@Html.DisplayNameFor(model => model.companyName)</h1>
            </div>
        </div>
    </div>
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.companyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyDescription)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.companyName }) |
                @Html.ActionLink("Details", "Details", new { id=item.companyName }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.companyName })
            </td>
        </tr>
    }*@

        </table>
