@model Timeclock.Models.CompanyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.companyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.companyName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
