@model IEnumerable<Timeclock.Models.ManagersModel>

@{
    ViewBag.Title = "Managers";
}


<div id="page">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Managers</h1>
            </div>
        </div>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.managerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.managerTitle)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.managerTitle)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.managerName }) |
                        @Html.ActionLink("Details", "Details", new { id = item.managerName }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.managerName })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
